pacman v1
nb_players 4
nb_rounds 600
nb_ghosts 3
regen_time 60
power_time 60
pn_dot      1
pn_pill     5
pn_bonus   10
pn_ghost   50
pn_pacman 100
cage 14 29
rows 29
cols 59
names ? ? ? ?
round 0
XXXXXXXXXXXXXXXXXXXXXXXXXXXXX.XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
X-....X.X.........B.......*.X.X.*.......B.........X.X.....X
X.X#X.X.X.XXXXXXXX.XXXXXXXX.X.X.XXXXXXXX.XXXXXXXX.X.X.X#X.X
X.XBX...X.X......X.X......X.....X......X.X......X.X...XBX.X
X.X.X.X.X.X.XXXXXX.X.XXXX.X..X..X.XXXX.X.XXXXXX.X.X.X.X.X.X
X.X.X.X.X....................X....................X.X.X.X.X
X.X.X.X.XXXXXXXXXXX.XXXXXXXX.#.XXXXXXXX.XXXXXXXXXXX.X.X.X.X
X.X.X.X.X*........X..........X..........X........*X.X.X.X.X
X.X.X.X.X.XXX.XXX.X.XXX.XXXX.X.XXXX.XXX.X.XXX.XXX.X.X.X.X.X
X.X.X.X.X.........X..........X..........X.........X.X.X.X.X
X.X.X.X.XXXXX.XXXXX.XXX.XXXX...XXXX.XXX.XXXXX.XXXXX.X.X.X.X
X.X.X.X.X...X.X...X..........C..........X...X.X...X.X.X.X.X
X*.......................XX#####XX.......................*X
XXXXXXXXX.XXXXXXXX.XXXXX.X-------X.XXXXX.XXXXXXXX.XXXXXXXXX
*........*........M......#-------#......M........*........*
XXXXXXXXX.XXXXXXXX.XXXXX.X-------X.XXXXX.XXXXXXXX.XXXXXXXXX
X*.......................XX#####XX.......................*X
X.X.X.X.X...X.X...X..........C..........X...X.X...X.X.X.X.X
X.X.X.X.XXXXX.XXXXX.XXX.XXXX...XXXX.XXX.XXXXX.XXXXX.X.X.X.X
X.X.X.X.X.........X..........X..........X.........X.X.X.X.X
X.X.X.X.X.XXX.XXX.X.XXX.XXXX.X.XXXX.XXX.X.XXX.XXX.X.X.X.X.X
X.X.X.X.X*........X..........X..........X........*X.X.X.X.X
X.X.X.X.XXXXXXXXXXX.XXXXXXXX.#.XXXXXXXX.XXXXXXXXXXX.X.X.X.X
X.X.X.X.X....................X....................X.X.X.X.X
X.X.X.X.X.X.XXXXXX.X.XXXX.X..X..X.XXXX.X.XXXXXX.X.X.X.X.X.X
X.XBX...X.X......X.X......X.....X......X.X......X.X...XBX.X
X.X#X.X.X.XXXXXXXX.XXXXXXXX.X.X.XXXXXXXX.XXXXXXXX.X.X.X#X.X
X.....X.X.........B.......*.X.X.*.......B.........X.X....-X
XXXXXXXXXXXXXXXXXXXXXXXXXXXXX.XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
score 0 0 0 0
status 0 0 0 0
pacman 1 1 0 a
ghost 13 26 0 a
ghost 14 26 0 a
ghost 15 26 0 a
pacman 27 57 0 a 
ghost 13 28 0 a
ghost 14 28 0 a
ghost 15 28 0 a
pacman 27 1 0 a
ghost 13 30 0 a
ghost 14 30 0 a
ghost 15 30 0 a
pacman 1 57 0 a 
ghost 13 32 0 a
ghost 14 32 0 a
ghost 15 32 0 a
